@model PartA.Models.masterEntities
@using System.Text.RegularExpressions
@{
    ViewBag.Title = "Home Page";
}
<section class="container">
    <div class="col-sm-12">
        <h2 class="page-heading">@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <p>Use this area to provide additional information.</p>
            <div class="row">
                <div class="col-sm-8 col-md-9">
                    @foreach (var item in Model.Movies.ToList())
                    {
                    <!-- Movie variant with time -->
                    <div class="movie movie--test movie--test--dark movie--test--left">
                        <div class="movie__images">
                            <a href="movie-page-left.html" class="movie-beta__link">
                                <img src="//localhost:12382/images/424x424/@Html.DisplayFor(modelItem => item.ImageUrl)" alt="@Html.DisplayFor(modelItem => item.Title)" />
                            </a>
                        </div>
                        <div class="movie__info">
                            <a href='movie-page-left.html' class="movie__title">@Html.DisplayFor(modelItem => item.Title)</a>
                            <p class="movie__option"><a href="#">@Html.DisplayFor(modelItem => item.ShortDescription)</a></p>
                        </div>
                    </div>
                    <!-- Movie variant with time -->
                    }
                    <!-- TODO: Delete inside -->
                    <!-- Movie variant with time -->
                    <div class="movie movie--test movie--test--dark movie--test--right">
                        <div class="movie__images">
                            <a href="movie-page-left.html" class="movie-beta__link">
                                <img alt='' src="http://placehold.it/424x424">
                            </a>
                        </div>

                        <div class="movie__info">
                            <a href='movie-page-left.html' class="movie__title">Thor: The Dark World (2013) </a>

                            <p class="movie__time">112 min</p>

                            <p class="movie__option"><a href="#">Action</a> | <a href="#">Adventure</a> | <a href="#">Fantasy</a></p>

                            <div class="movie__rate">
                                <div class="score"></div>
                                <span class="movie__rating">5.0</span>
                            </div>
                        </div>
                    </div>
                    <!-- Movie variant with time -->
                    <!-- Movie variant with time -->
                    <div class="movie movie--test movie--test--dark movie--test--left">
                        <div class="movie__images">
                            <a href="movie-page-left.html" class="movie-beta__link">
                                <img alt='' src="http://placehold.it/424x424">
                            </a>
                        </div>

                        <div class="movie__info">
                            <a href='movie-page-left.html' class="movie__title">World War Z (2013)  </a>

                            <p class="movie__time">116 min</p>

                            <p class="movie__option"><a href="#">Action</a> | <a href="#">Adventure</a> | <a href="#">Horror</a></p>

                            <div class="movie__rate">
                                <div class="score"></div>
                                <span class="movie__rating">4.1</span>
                            </div>
                        </div>
                    </div>
                    <!-- Movie variant with time -->
                    <!-- Movie variant with time -->
                    <div class="movie movie--test movie--test--light movie--test--left">
                        <div class="movie__images">
                            <a href="movie-page-left.html" class="movie-beta__link">
                                <img alt='' src="http://placehold.it/424x424">
                            </a>
                        </div>

                        <div class="movie__info">
                            <a href='movie-page-left.html' class="movie__title">Prisoners (2013) </a>

                            <p class="movie__time">153 min</p>

                            <p class="movie__option"><a href="#">Crime</a> | <a href="#">Thriller</a> | <a href="#">Drama</a></p>

                            <div class="movie__rate">
                                <div class="score"></div>
                                <span class="movie__rating">5.0</span>
                            </div>
                        </div>
                    </div>
                    <!-- Movie variant with time -->
                    <!-- Movie variant with time -->
                    <div class="movie movie--test movie--test--light movie--test--right">
                        <div class="movie__images">
                            <a href="movie-page-left.html" class="movie-beta__link">
                                <img alt='' src="http://placehold.it/424x424">
                            </a>
                        </div>

                        <div class="movie__info">
                            <a href='movie-page-left.html' class="movie__title">This Is the End (2013)   </a>

                            <p class="movie__time">107 min</p>

                            <p class="movie__option"><a href="#">Comedy</a> | <a href="#">Fantasy</a></p>

                            <div class="movie__rate">
                                <div class="score"></div>
                                <span class="movie__rating">4.9</span>
                            </div>
                        </div>
                    </div>
                    <!-- Movie variant with time -->
                    <!-- Movie variant with time -->
                    <div class="movie movie--test movie--test--dark movie--test--right">
                        <div class="movie__images">
                            <a href="movie-page-left.html" class="movie-beta__link">
                                <img alt='' src="http://placehold.it/424x424">
                            </a>
                        </div>

                        <div class="movie__info">
                            <a href='movie-page-left.html' class="movie__title">The Internship (2013)  </a>

                            <p class="movie__time">112 min</p>

                            <p class="movie__option"><a href="#">Comedy</a></p>

                            <div class="movie__rate">
                                <div class="score"></div>
                                <span class="movie__rating">5.0</span>
                            </div>
                        </div>
                    </div>
                    <!-- Movie variant with time -->
                    <!-- TODO: Delete inside -->
                </div>
            </div>
        </div>
</section>